<header class="bg-light pt-5 pb-5">
  <div class="container">
      <ul class="d-flex justify-content-center">
        <li class="me-7"><a class="fs-3 fw-bold text-black" href="./index.html">首頁</a></li>
        <li><a class="fs-3 fw-bold text-black" href="./blog.html">部落格</a></li>
      </ul>
  </div>
</header>