.bg-hero-section{
  background-image: url("/assets/images/index/Hero\ Section.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 843px;
  position: relative;
  z-index: 1;
  @include phone() {
    height: 375px;
  }
}
.bg-hero-section-two{
  background-image: url("/assets/images/index/Hero\ Section2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 843px;
  position: relative;
  z-index: 1;
  @include phone() {
    height: 375px;
  }
}
.icon {
  width: 44px;
  height: 44px;
  background-size: cover;
  background-position: center;
}
.icon-youtube{
  background: url("/assets/images/index/onlyIcon.png") no-repeat;
}
.icon-podcast{
  background: url("/assets/images/index/onlyIcon-1.png") no-repeat;
}
.icon-fb{
  background: url("/assets/images/index/onlyIcon-2.png") no-repeat;
}
.icon-linkedin{
  background: url("/assets/images/index/icons8-linkedin.png") no-repeat;
}
.icon-ig{
  background: url("/assets/images/index/onlyIcon-3.png") no-repeat;
}
.case-resume {
  background-image: url("/assets/images/index/photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 55%;
  height: 320px;
  @include phone() {
    width: 100%;
    height: 176px;
  }
}
.case-online {
  background-image: url("/assets/images/index/photo2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 55%;
  height: 320px;
  position: relative;
  z-index: 1;
  @include phone() {
    width: 100%;
    height: 176px;
    z-index: auto;
  }
}
.case-development {
  background-image: url("/assets/images/index/photo3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 55%;
  height: 320px;
  @include phone() {
    width: 100%;
    height: 176px;
  }
}
.case-training {
  background-image: url("/assets/images/index/photo4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 55%;
  height: 320px;
  position: relative;
  z-index: 1;
  @include phone() {
    width: 100%;
    height: 176px;
    z-index: auto;
  }
}
.photo-consult {
  background-image: url("/assets/images/index/photo8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.photo-podcast-one {
  background-image: url("/assets/images/index/people.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}
.photo-podcast-two {
  background-image: url("/assets/images/index/people2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}
.photo-podcast-three {
  background-image: url("/assets/images/index/people3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}
.photo-podcast-four {
  background-image: url("/assets/images/index/people4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}
.photo-podcast-four {
  background-image: url("/assets/images/index/people4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}
.photo-subscription {
  background-image: url("/assets/images/index/photo9.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 834px;
  @include pad() {
    width: 100%;
    height: 375px;
  }
}
.photo-subscription-input {
  background-image: url("/assets/images/index/Hero Section2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 834px;
  @include pad() {
    width: 100%;
    height: 440px;
  }
}
/* blog */
.bg-hero-section-blog{
  background-image: url("/assets/images/index/Hero\ Section2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 843px;
  @include phone() {
    height: 180px;
  }
}
.bg-about-section{
  background-image: url("/assets/images/blog/About Section.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 640px;
  @include phone() {
    height: 375px;
  }
}
/* blogarictle */
.photo-base {
  background-image: url("/assets/images/blog-content/content1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 320px;
}
.photo-frame {
  background-image: url("/assets/images/blog-content/content2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 320px;
}
.photo-community {
  background-image: url("/assets/images/blog-content/content3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 320px;
}
.photo-conclusion {
  background-image: url("/assets/images/blog-content/content4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 320px;
}