.bg-hero-section{
  background: url("/assets/images/index/Hero\ Section.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 843px;
  width: 50%;
}
.bg-hero-section-two{
  background-image: url("/assets/images/index/Hero\ Section2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 843px;
  width: 50%;
}