.banner-text {
  font-size: 120px;
  @include pad() {
    font-size: max(52px, calc(((100vw / 2) - 160px) / 6));
  }
  @include phone() {
    font-size: 52px;
  }
  @include min-phone() {
    font-size: max(32px, calc(((100vw / 2) - 160px) / 6));
  }
}
.banner-intro {
  width: 56%;
  margin-right: 80px;
  margin-left: auto;
  margin-top: -160px;
  position: relative;
  z-index: 2;
  @include phone() {
    width: 100%;
    margin-right: auto;
    margin-top: -200px;
  }
}
.case-border {
  width: 30px;
  border: 2.5px solid $primary;
  border-radius: 8px;
  margin: 18.75px 5px;
}
.case-tip-right {
  width: 45%;
  margin-left: -36px;
  @include phone() {
    width: 100%;
    margin-left: auto;
  }
}
.case-tip-left {
  width: 45%;
  margin-right: -36px;
  position: relative;
  z-index: 2;
  @include phone() {
    width: 100%;
    margin-right: auto;
    z-index: auto;
  }
}
.tag {
  border-radius: 40px;
  padding: 6px 12px; 
}
.bg-photo-consult {
  width: 745px;
  height: 626px;
  @include phone() {
    width: 100%;
  }
}
.consult-tip {
  width: 526px;
  height: 296px;
  margin-left: -219px;
  @include phone() {
    width: 100%;
    height: 264px;
    margin-left: auto;
    margin-top: -175px;
    margin-bottom: 12px;
  }
}
.consult-online-tip {
  width: 526px;
  height: 312px;
  margin-top: -40px;
  @include phone() {
    width: 100%;
    height: 256px;
    margin-top: auto;
  }
}
.onlineBtn {
  background: $white;
  color: $primary;
}
.onlineBtn:hover {
  background: $primary;
  color: $white;
}
.podcastBtn {
  color: $secondary;
}
.podcastBtn:hover {
  background: $primary;
  color: $white;
}

.podcastInput {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.podcastInput input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 16%;
  background-color: $secondary;
}
.podcastInput input:checked ~ .checkmark {
  background-color: $primary;
  border-radius: 16%;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.podcastInput input:checked ~ .checkmark:after {
  display: block;
}
.podcastInput .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
