<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>最終任務 - 個人品牌網站</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div>
      <div class="d-flex">
        <div class="bg-hero-section"></div>
        <div class="bg-hero-section-two d-flex flex-column justify-content-center ps-11">
          <h1 class="fs-1 fw-900 text-primary mb-3">Alyse Wang</h1>
          <p class="fs-3 fw-bold text-primary">前端工程師 & 職涯諮詢師</p>
        </div>
      </div>
      <div></div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
